@model EndPointEcommerce.AdminPortal.ViewModels.UserViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-circle-info"></i>
        Info
    </div>
    <input asp-for="Id" type="hidden" />
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label"></label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="RoleName" class="form-label"></label>
            <select asp-for="RoleName" class="form-control" asp-items="Model.Roles"></select>
            <span asp-validation-for="RoleName" class="text-danger"></span>
        </div>
        <div class="mb-3" id="customerIdContainer">
            <label asp-for="CustomerId" class="form-label"></label>
            <select asp-for="CustomerId" class="form-control" asp-items="Model.Customers"></select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
        </div>
    </div>
</div>

