@using EndPointCommerce.RazorTemplates.ViewModels

@model IdentityEmailViewModel

<tr>
    <td valign="top">
        <p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
            Hello @Model.User.Greeting,
        </p>
        <p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
            Thank you for signing up with EndPointCommerce.com.
        </p>
        <p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
            Please <a href="@Model.Link">click here</a> to confirm your account.
        </p>
    </td>
</tr>
