@using EndPointCommerce.RazorTemplates.ViewModels

@model IdentityEmailViewModel

<section class="py-1">
    <div class="container px-4 px-lg-5 my-5">
        <p>
            Hello @Model.User.Greeting,
        </p>
        <p>
            Thank you for signing up with EndPointCommerce.com.
        </p>
        <p>
            Please <a href="@Model.Link">click here</a> to confirm your account.
        </p>
        <p>
            If the link above does not work, you can copy and paste the following URL into your browser:
        </p>
        <p>
            <code>@Model.Link</code>
        </p>
    </div>
</section>
