@using EndPointCommerce.RazorTemplates.ViewModels

@model IdentityEmailViewModel

<tr>
    <td valign="top">
        <p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
            @Model.User.Greeting,
        </p>
        <p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
            There was recently a request to change the password for your account.
        </p>
        <p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
            If you requested this change, set a new password here:
        </p>

        <table class="button" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td>
                    <table class="inner-wrapper" border="0" cellspacing="0" cellpadding="0" align="center">
                        <tr>
                            <td align="center">
                                <a href="@Model.Link" target="_blank">
                                    Set a New Password
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

        <p style="font-size:12px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">
            If you did not make this request, you can ignore this email and your password will remain the same.
        </p>
    </td>
</tr>
