ADMIN_PORTAL_PORT=8001
WEB_API_PORT=8002
WEB_STORE_PORT=8003
DB_PORT=5432
END_POINT_COMMERCE_DB=end_point_commerce
END_POINT_COMMERCE_DB_USERNAME=end_point_commerce
ASPNETCORE_ENVIRONMENT=Development # choices: [Development, Staging, Production]
WEB_API_URL=https://localhost:8002
WEB_API_ALLOWED_ORIGINS=https://localhost:8003
CATEGORY_IMAGES_URL=https://localhost:8002/category-images
PRODUCT_IMAGES_URL=https://localhost:8002/product-images
WEB_STORE_CONFIRM_EMAIL_URL=https://localhost:8003/auth/confirm-email
WEB_STORE_PASSWORD_RESET_URL=https://localhost:8003/auth/reset-password
WEB_STORE_ORDER_DETAILS_URL=https://localhost:8003/checkout/confirmation
MAIL_SETTINGS_SERVER=
MAIL_SETTINGS_PORT=25
MAIL_SETTINGS_SENDER_NAME=End Point Commerce
MAIL_SETTINGS_SENDER_EMAIL=commerce@endpointdev.com
MAIL_SETTINGS_USER_NAME=
MAIL_SETTINGS_PASSWORD=
MAIL_CC_ADDRESSES=
MAIL_BCC_ADDRESSES=
TAX_JAR_API_KEY=
TAX_JAR_FROM_COUNTRY=
TAX_JAR_FROM_STREET=
TAX_JAR_FROM_CITY=
TAX_JAR_FROM_STATE=
TAX_JAR_FROM_ZIP=
AUTH_NET_ENVIRONMENT=Sandbox
AUTH_NET_LOGIN_ID=
AUTH_NET_TRANSACTION_KEY=
AUTH_NET_CLIENT_KEY=
