ADMIN_PORTAL_PORT=8001
WEB_API_PORT=8002
DB_PORT=5432
END_POINT_COMMERCE_DB=end_point_commerce
END_POINT_COMMERCE_DB_USERNAME=end_point_commerce
BUILD_ENV=Development # choices: [Development, Staging, Production]
CATEGORY_IMAGES_URL_PATH=https://localhost:8001/category-images
PRODUCT_IMAGES_URL_PATH=https://localhost:8001/product-images
WEBSITE_URL=https://localhost:8003
WEBSITE_LOGO_URL=https://localhost:8003/img/logo.png
WEBSITE_PASSWORD_RESET_URL=https://localhost:8003/reset-password
WEBSITE_SHIPPING_INFO_URL=https://localhost:8003/shipping-information
MAIL_SETTINGS_SERVER=
MAIL_SETTINGS_PORT=25
MAIL_SETTINGS_SENDER_NAME=End Point Commerce
MAIL_SETTINGS_SENDER_EMAIL=commerce@endpointdev.com
MAIL_SETTINGS_USER_NAME=
MAIL_SETTINGS_PASSWORD=
MAIL_CC_ADDRESSES=
MAIL_BCC_ADDRESSES=
TAX_JAR_API_KEY=
AUTH_NET_ENVIRONMENT=Sandbox
AUTH_NET_LOGIN_ID=
AUTH_NET_CLIENT_KEY=
AUTH_NET_TRANSACTION_KEY=
