@using EndPointEcommerce.WebStore.Api
@using EndPointEcommerce.WebStore.Identity
@using EndPointEcommerce.WebStore.State

@implements IDisposable

@inject NavigationManager Navigation
@inject AuthenticationStateProvider AuthenticationState
@inject IApiClient ApiClient
@inject QuoteStateContainer QuoteState

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a href="/" class="navbar-brand">End Point Ecommerce</a>
        <button
            class="navbar-toggler" type="button"
            data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item">
                    <a href="/" class="nav-link active" aria-current="page">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle" id="navbarDropdown"
                        href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                    >
                        Shop
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a href="/" class="dropdown-item">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        @{
                            foreach (var category in Categories)
                            {
                                <li>
                                    <a href="/products/by-category/@category.Id" class="dropdown-item">
                                        @category.Name
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="https://admin.demo.ecommerce.endpointdev.com/" class="nav-link">Demo only: Go to Admin</a>
                </li>
            </ul>

            <div class="d-flex">
                <AuthorizeView>
                    <Authorized>
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                            <li class="nav-item dropdown">
                                <a
                                    class="dropdown-toggle btn btn-outline-dark mx-2" id="myAccountDropdown"
                                    href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
                                >
                                    Your account
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="myAccountDropdown">
                                    <li><a href="/account/orders" class="dropdown-item">Orders</a></li>
                                    <li><a href="/account/profile" class="dropdown-item">Profile</a></li>
                                    <li><a href="/account/addresses" class="dropdown-item">Addresses</a></li>
                                    <li><hr class="dropdown-divider" /></li>
                                    <li><a @onclick="Logout" href="#" class="dropdown-item">Log out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </Authorized>
                    <NotAuthorized>
                        <a href="/auth/login" class="btn btn-outline-dark mx-2" role="button">
                            <i class="bi-person-fill me-1"></i>
                            Sign in
                        </a>
                    </NotAuthorized>
                </AuthorizeView>
                <a href="/cart" class="btn btn-outline-dark" role="button">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill">
                        @QuoteItemCount
                    </span>
                </a>
            </div>
        </div>
    </div>
</nav>

@code {
    private List<Category> Categories { get; set; } = new();

    private int QuoteItemCount => QuoteState.QuoteItemCount;

    protected override async Task OnInitializedAsync()
    {
        Categories = await ApiClient.GetCategories();
        await QuoteState.LoadQuote();

        QuoteState.QuoteUpdated += StateHasChanged;
    }

    public void Dispose()
    {
        QuoteState.QuoteUpdated -= StateHasChanged;
    }

    public async Task Logout()
    {
        await ApiClient.PostUserLogout();
        AuthenticationState.UpdateAuthenticationState();
        Navigation.NavigateTo("/");
    }
}
