@page
@using EndPointCommerce.WebStore.ViewModels
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<partial name="Shared/_Header.cshtml" />

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            @foreach (var product in Model.Products)
            {
                @await Html.PartialAsync(
                    "Shared/_ProductCard",
                    new ProductCardViewModel
                    (
                        Product: product,
                        AddToCartRouteData: new()
                        {
                            { "productId", product.Id.ToString() }
                        }
                    )
                );
            }
        </div>
    </div>
</section>
