<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>@ViewData["Title"] - End Point Commerce</title>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <partial name="_NavBar.cshtml" />

    @if (TempData.ContainsKey("SuccessAlertMessage"))
    {
        <div class="alert alert-success alert-dismissible fade show fixed-bottom text-center m-2" role="alert">
            @TempData["SuccessAlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @RenderBody()

    <partial name="_Footer.cshtml" />

    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
