<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">
                @DateTime.Now.Year.ToString() -
                <a href="https://ecommerce.endpointdev.com/" target="_blank">End Point Ecommerce</a>
            </div>
            <div>
                Powered by <a href="https://www.endpointdev.com/" target="_blank">End Point</a>
            </div>
        </div>
    </div>
</footer>
