@page "/auth/forgot-password"

@using System.ComponentModel.DataAnnotations
@using EndPointEcommerce.WebStore.Api
@using EndPointEcommerce.WebStore.State

@inject NavigationManager Navigation
@inject IApiClient ApiClient
@inject AlertStateContainer AlertState

<PageTitle>Forgot your password? - End Point Ecommerce</PageTitle>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row">
            <div class="col-lg"></div>
            <div class="col-lg-6">
                <div class="card mb-2 p-3">
                    <h3>Forgot your password?</h3>
                    <p>
                        Enter your email address below and we'll send you a link to reset your password.
                    </p>
                    <EditForm Model="ForgotPasswordInput" method="post" OnValidSubmit="SendPasswordResetLink">
                        <DataAnnotationsValidator />

                        <div class="form-floating mb-3">
                            <InputText @bind-Value="ForgotPasswordInput.Email"
                                id="ForgotPasswordInput.Email"
                                class="form-control"
                                autocomplete="email"
                                aria-required="true"
                                placeholder="name@example.com"
                            />
                            <label for="ForgotPasswordInput.Email" class="form-label">
                                Email
                            </label>
                            <ValidationMessage For="() => ForgotPasswordInput.Email" class="text-danger" />
                        </div>

                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-dark">
                                Send
                            </button>
                        </div>
                    </EditForm>
                </div>
            </div>
            <div class="col-lg"></div>
        </div>
    </div>
</section>

@code {
    private sealed class ForgotPasswordInputModel
    {
        [Required]
        [EmailAddress]
        public string Email { get; set; } = string.Empty;
    }

    private ForgotPasswordInputModel ForgotPasswordInput { get; set; } = new();

    public async Task SendPasswordResetLink()
    {
        await ApiClient.PostUserForgotPassword(ForgotPasswordInput.Email);

        _ = AlertState.SetMessage("A password reset link has been sent to your email.");
    }
}
