@model EndPointEcommerce.AdminPortal.ViewModels.OrderItemViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-circle-info"></i>
        Info
    </div>
    <div class="card-body">
        <input asp-for="OrderId" type="hidden" />
        <div class="mb-3">
            <label asp-for="ProductId" class="form-label"></label>
            <select asp-for="ProductId" class="form-control" asp-items="Model.Products"></select>
            <span asp-validation-for="ProductId" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="UnitPrice" class="form-label"></label>
            <input asp-for="UnitPrice" class="form-control" />
            <span asp-validation-for="UnitPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="TotalPrice" class="form-label"></label>
            <input asp-for="TotalPrice" class="form-control" />
            <span asp-validation-for="TotalPrice" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Discount" class="form-label"></label>
            <input asp-for="Discount" class="form-control" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Total" class="form-label"></label>
            <input asp-for="Total" class="form-control" />
            <span asp-validation-for="Total" class="text-danger"></span>
        </div>
    </div>
</div>

