@model EndPointCommerce.AdminPortal.ViewModels.AddressViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-circle-info"></i>
        Info
    </div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col">
                <label asp-for="CustomerId" class="form-label"></label>
                <select asp-for="CustomerId" class="form-control" asp-items="Model.Customers"></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="mb-3">
            <label asp-for="Street" class="form-label"></label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="StreetTwo" class="form-label"></label>
            <input asp-for="StreetTwo" class="form-control" />
            <span asp-validation-for="StreetTwo" class="text-danger"></span>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label asp-for="City" class="form-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="ZipCode" class="form-label"></label>
                <input asp-for="ZipCode" class="form-control" />
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-6">
                <label asp-for="StateId" class="form-label"></label>
                <select asp-for="StateId" class="form-control" asp-items="Model.States"></select>
                <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="col-6">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
        </div>
    </div>
</div>

