@model EndPointEcommerce.AdminPortal.ViewModels.CouponViewModel

<div asp-validation-summary="ModelOnly" class="text-danger"></div>

<div class="card mb-4">
    <div class="card-header">
        <i class="fa-solid fa-circle-info"></i>
        Info
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="Code" class="form-label"></label>
            <input asp-for="Code" class="form-control" />
            <span asp-validation-for="Code" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Discount" class="form-label"></label>
            <input asp-for="Discount" class="form-control" type="number" min="0" step=".01" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <input asp-for="IsDiscountFixed" class="form-check-input">
                <label asp-for="IsDiscountFixed" class="form-check-label"></label>
            </div>
            <span asp-validation-for="IsDiscountFixed" class="text-danger"></span>
        </div>
    </div>
</div>

