@page "/checkout/confirmation/{OrderId:int}"

@using EndPointCommerce.WebStoreSpa.Api
@using System.Net

@inject NavigationManager Navigation;
@inject IApiClient ApiClient;

<PageTitle>Order Confirmation - End Point Commerce</PageTitle>

@if (Order != null)
{
    <p>Confirmation for Order @Order.Id</p>
}

@code {
    [Parameter]
    public int OrderId { get; set; }

    public Order Order { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        Order = new Order(
            Id: OrderId,
            Status: "test_order_status",
            TrackingNumber: "123456789",
            Total: 100.00m,
            Items: null!,
            ShippingAddress: null!,
            BillingAddress: null!
        );

        @* try
        {
            Order = await ApiClient.GetOrder(ProductId);
        }
        catch (HttpRequestException ex) when (ex.StatusCode == HttpStatusCode.NotFound)
        {
            Navigation.NavigateTo("/notfound");
        } *@
    }
}
