@page "/account/addresses/edit/{AddressId:int}"

@using System.ComponentModel.DataAnnotations
@using System.Net
@using System.Text.Json
@using Microsoft.AspNetCore.Authorization
@using EndPointCommerce.WebStoreSpa.Api
@using EndPointCommerce.WebStoreSpa.Identity
@using EndPointCommerce.WebStoreSpa.State

@attribute [Authorize]

@inject NavigationManager Navigation
@inject IApiClient ApiClient
@inject AlertStateContainer AlertState

<PageTitle>Edit an address - Edit - End Point Commerce</PageTitle>

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h1 class="mb-3">Edit address</h1>

        <div class="my-3 d-flex justify-content-start">
            <a href="/account/addresses">Back to address list</a>
        </div>

        <EditForm Model="Address" method="post" OnValidSubmit="UpdateAddress">
            <DataAnnotationsValidator />

            <div class="card mb-4 p-3">
                <AddressForm Address="Address" States="States" />
            </div>

            <div class="d-flex justify-content-end">
                <button type="submit" class="btn btn-outline-dark">
                    Update address
                </button>
            </div>
        </EditForm>
    </div>
</section>

@code {
    [Parameter]
    public int AddressId { get; set; }

    private List<State> States { get; set; } = new();

    private Address Address { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        States = await ApiClient.GetStates();
        Address = await ApiClient.GetAddress(AddressId);

        if (Address == null)
        {
            Navigation.NavigateTo("/account/addresses");
        }
    }

    public async Task UpdateAddress()
    {
        var response = await ApiClient.PutAddress(Address);

        _ = AlertState.SetMessage("Address updated successfully.");
        Navigation.NavigateTo("/account/addresses");
    }
}
