<div id="product-additional-images-container" class="row">
    <div class="col-3">
        <input
            type="file" accept="image/*"
            id="new-product-additional-image-file"
            class="form-control"
        />
    </div>
</div>

<template id="product-additional-image-template">
    <div class="col-3">
        <input type="file" accept="image/*" name="" id="" class="form-control" />
    </div>
</template>
